<nav aria-label="Kruimelpad">
    <ol class="breadcrumb small mb-4">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        @for(breadcrumb of breadcrumbs; track breadcrumb.label){
            <li class="breadcrumb-item" [class.active]="breadcrumb.current" [attr.aria-current]="breadcrumb.current ? 'page' : null">
                @if(breadcrumb.current){
                    <span>{{ breadcrumb.label }}</span>
                } @else {
                    <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
                }
            </li>
        }
    </ol>
</nav>
