<div class="container">
    <div class="row">
        <div class="col">
            <app-breadcrumbs-partial [breadcrumbs]="breadcrumb"></app-breadcrumbs-partial>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>DMN Unit-tests - {{ dmnData?.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form>
                <div class="input-group"></div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <button class="text-decoration-none" ngbNavLink>Aanmaken</button>
                    <ng-template ngbNavContent>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Beslissingsnaam</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @for(dVar of this.dmnVars; track dVar.id) {
                                        <tr>
                                            <td><a class="text-decoration-none link-dark" [routerLink]="['create']"  [state]="{data: dVar, fresh: true}">{{ dVar.name }}</a></td>
                                        </tr>
                                    } @empty {
                                        <tr>
                                            <td>Geen beslissingen gevonden</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <button ngbNavLink>Uitgevoerde tests</button>
                    <ng-template ngbNavContent>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Beslissingsnaam</th>
                                        <th scope="col">Test naam</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(td of this.testData; track td.id) {
                                        <tr>
                                            <td [routerLink]="['view']" [state]="{ data: td, dmnData: dmnData, dmnVars: dmnVars }" style="cursor: pointer;">
                                                <span>{{ td.decisionName }}</span>
                                            </td>
                                            <td [routerLink]="['view']" [state]="{ data: td, dmnData: dmnData, dmnVars: dmnVars }" style="cursor: pointer;">
                                                <span>{{ td.title }}</span>
                                            </td>
                                            <td>
                                                <div class="align-self-center"><span class="badge {{ td.passed ? 'bg-success' : 'bg-danger' }}">{{ td.passed ? 'PASS' : 'FAIL' }}</span></div>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm" (click)="deleteTest(td.id)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    } @empty {
                                        <tr>
                                            <td>
                                                <div class="alert alert-secondary mb-0">Geen tests gevonden...</div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>
    </div>
</div>
