<table class="table">
    <thead>
    <tr>
        <th scope="col">Versie</th>
        @if(this.domains){
            <th scope="col">Domein</th>
        }
        <th scope="col">DMN</th>
        <th scope="col">Eigenaar</th>
        <th scope="col">Laatste wijziging</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
        @for(dmn of dmnList; track dmn.id + '-' + findLatest(dmn.versions).version) {
            <tr [routerLink]="['/dmns', dmn.id, findLatest(dmn.versions).version]" style="cursor: pointer;">
                <td><span class="badge {{ findLatest(dmn.versions).status | classPipe }}" style="margin: -85px 1px 1px 1px;">{{ "v" + findLatest(dmn.versions).version }}</span></td>
                @if(this.domains){
                    <td>{{ dmn.domain.name }}</td>
                }
                <td>
                    {{ dmn.name }}
                </td>
                <td>
                    {{ dmn.owner }}
                </td>
                @if(dmn.modifiedDate != null){
                    <td>{{ dmn.modifiedDate | date:'dd-MM-yyyy HH:mm' }}</td>
                } @else {
                    <td>Geen wijziging</td>
                }
                <td>
                    <span class="badge {{ findLatest(dmn.versions).status | classPipe }}" style="margin: -85px 1px 1px 1px;">{{ findLatest(dmn.versions).status | statusPipe }}</span>
                </td>
            </tr>
        } @empty {
            <tr>
                <td colspan="6" class="text-center">Geen DMNs gevonden.</td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshDMNs()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshDMNs()">
        <option [ngValue]="10">10 DMNs per pagina</option>
        <option [ngValue]="25">25 DMNs per pagina</option>
        <option [ngValue]="50">50 DMNs per pagina</option>
    </select>
</div>
