<div class="container">
    <div class="row">
        <div class="col">
            <h3>Nakijken - {{ dmnData.name }}</h3>
        </div>
        <div class="col text-end">
            <div class="btn-group" role="group">
                <button class="btn btn-primary" (click)="clickOpen()" type="button">Bekijken</button>
                <button class="btn btn-danger" (click)="clickCancel()" type="button">Cancel</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-xxl-6"><span>Wijziging door</span></div>
                        <div class="col col-xxl-6"><span>{{ changeData.submittedBy }}</span></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-xxl-6"><span>Controleur</span></div>
                        <div class="col col-xxl-6"><span>{{ changeData.assignedTo}}</span></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-xxl-6"><span>Domein</span></div>
                        <div class="col col-xxl-6"><span>{{ dmnData.domain.name }}</span></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-xxl-6"><span>Huidige status</span></div>
                        <div class="col col-xxl-6"><span></span><span class="badge {{ dmnData.versions[0].status | classPipe }} me-1">v{{ dmnData.versions[0].version }}</span><span class="badge {{ dmnData.versions[0].status | classPipe }} me-1">{{ dmnData.versions[0].status | statusPipe }}</span></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-xxl-6"><span>Laatste wijziging</span></div>
                        <div class="col col-xxl-6"><span>{{ dmnData.versions[0].modifiedDate | date:'dd-MM-yyyy HH:mm' }} - {{ dmnData.versions[0].modifiedBy }}</span></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-xxl-6"><span>Beschrijving</span></div>
                        <div class="col col-xxl-6"><span>{{ changeData.changeDescription }}</span></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    @if(changeData.approved == false && can_review) {
        <div class="row">
            <div class="col">
                <form [formGroup]="myForm">
                    <div class="form-check form-switch"><input formControlName="approved" id="flexSwitchCheckDefault" class="form-check-input" type="checkbox" /><label class="form-check-label" for="flexSwitchCheckDefault">Akkoord?</label></div>
                </form>
                <button (click)="submitReview()" class="btn btn-primary" type="button">Indienen</button>
            </div>
        </div>
    } @else {
        @if(changeData.approved){
            <div class="row mt-2">
                <div class="col">
                    <span class="text-success">Deze wijziging is al goedgekeurd.</span>
                </div>
            </div>
        }
        @if(!can_review){
            <div class="row mt-2">
                <div class="col">
                    <span class="text-danger">Dit is niet uw beoordeling.</span>
                </div>
            </div>
        }
    }
</div>
