<div class="container">
    <div class="row">
        <div class="col">
            <app-breadcrumbs-partial [breadcrumbs]="breadcrumb"></app-breadcrumbs-partial>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Unittest - {{ this.data.title }}</h3>
        </div>
        <div class="col text-end">
            <div class="btn-group" role="group">
                <button class="btn btn-primary" [routerLink]="['../create']" [state]="{ data: this.filtered_dmnVars[0], fresh: false, import: this.data }" type="button">Invoegen</button>
                <button class="btn btn-primary" type="button">Controlleren</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Key</th>
                            <th scope="col">Value</th>
                            <th scope="col">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(input of this.data.values; track input.key) {
                            @if(input.isInput){
                                <tr>
                                    <td>{{ input.key }}</td>
                                    <td>{{ input.value }}</td>
                                    <td>{{ input.valueType }}</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Value</th>
                        <th scope="col">Type</th>
                    </tr>
                    </thead>
                    <tbody>
                        @for(input of this.data.values; track input.key) {
                            @if(!input.isInput){
                                <tr>
                                    <td>{{ input.key }}</td>
                                    <td>{{ input.value }}</td>
                                    <td>{{ input.valueType }}</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
