<div class="container">
    <app-breadcrumbs-partial [breadcrumbs]="breadcrumb"></app-breadcrumbs-partial>
    <div class="row g-3 mb-4">
        <div class="col">
            <h1>{{ this.data.title }}</h1>
        </div>
        <div class="col-12 col-sm-auto text-sm-end">
            <div class="d-flex flex-wrap align-items-center gap-2">
                <button class="btn btn-primary" [routerLink]="['../create']" [state]="{ data: this.filtered_dmnVars[0], fresh: false, import: this.data }" type="button">Opnieuw gebruiken</button>
            </div>
        </div>
    </div>
    <div class="row g-3 mb-4">
        <div class="col-12 col-lg-6">
            <h2 class="mb-3">Invoer</h2>
            <div class="table-responsive bg-white border rounded" tabindex="0" role="region" aria-label="Invoer">
                <table class="table align-middle data-table mb-0 small">
                    <thead>
                        <tr>
                            <th scope="col">Variabele</th>
                            <th scope="col">Waarde</th>
                            <th scope="col">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(input of this.data.values; track input.key) {
                            @if(input.isInput){
                                <tr>
                                    <td>{{ input.key }}</td>
                                    <td>{{ input.value }}</td>
                                    <td>{{ input.valueType }}</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="mb-3">Verwachte uitkomst</h2>
            <div class="table-responsive bg-white border rounded" tabindex="0" role="region" aria-label="Verwachte uitkomst">
                <table class="table align-middle data-table mb-0 small">
                    <thead>
                    <tr>
                        <th scope="col">Variabele</th>
                        <th scope="col">Waarde</th>
                        <th scope="col">Type</th>
                    </tr>
                    </thead>
                    <tbody>
                        @for(input of this.data.values; track input.key) {
                            @if(!input.isInput){
                                <tr>
                                    <td>{{ input.key }}</td>
                                    <td>{{ input.value }}</td>
                                    <td>{{ input.valueType }}</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
