<nav class="navbar navbar-expand-md bg-body py-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']">
            <img src="DMNStudio-logo-icon.png" alt="DMN Tool Logo" width="50" height="50" class="d-inline-block align-text-top"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcol-1" aria-controls="navcol-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <div class="navbar-content d-md-flex align-items-md-center w-100">
                <ul class="navbar-nav me-md-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/dmns']" routerLinkActive="active">DMNs</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/deployments']" routerLinkActive="active">Deployments</a></li>
                    <li class="nav-item" ngbDropdown>
                        <button class="nav-link dropdown-toggle" type="button" ngbDropdownToggle>Beheer</button>
                        <div ngbDropdownMenu>
                            <a ngbDropdownItem [routerLink]="['/domeinen']" routerLinkActive="active">Domeinen</a>
                        </div>
                    </li>
                </ul>
                <div ngbDropdown class="profile-dropdown mt-2 mt-md-0">
                    <img ngbDropdownToggle class="rounded-circle img-fluid object-fit-scale" alt="Profielmenu" src="default_profile_image.png" width="40" height="40"/>
                    @if(this.userProfile){
                        <div ngbDropdownMenu>
                            <button disabled ngbDropdownItem>{{ this.userProfile.firstName }} {{ this.userProfile.lastName}}</button>
                            <button (click)="onClickLogout()" ngbDropdownItem>Log uit</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</nav>
