<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="row mb-2">
                <div class="col-10">
                    <div class="editor-tabs">
                        @for(view of views; track view; let idx = $index) {
                            <div class="tab" [class.active]="idx === activeViewIdx" (click)="openView(idx)">
                                <span class="{{ checkClass(view.type) }}"></span>
                                {{ view.element.name || view.element.id }}
                            </div>
                        }
                    </div>
                </div>
                <div class="col-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button (click)="saveDiagram()" type="button" class="btn btn-primary">Opslaan</button>
                        <button type="button" class="btn btn-primary">Indienen</button>
                    </div>
                </div>
            </div>
            <div class="dmn-container">
                <div #dmnModelerRef id="dmn-canvas"></div>
            </div>
        </div>
        <div class="col-3">
            <div id="dmn-properties-panel"></div>
        </div>
    </div>
</div>
