<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row gx-0 gy-0">
                <div class="col col-12">
                    <h3>Nieuwe DMN aanmaken</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Naam DMN</label>
                <input required type="text" class="form-control" id="form_new_dmn_name" placeholder="Kies een DMN naam" [(ngModel)]="dmnName" name="dmnName" required>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Domein</label>
                <select class="form-control" id="form_new_dmn_domain" [(ngModel)]="dmnDomain" name="dmnDomain" required>
                    <option value="" disabled selected>Kies uw domein</option>
                    @for(domain of domains; track domain.id) {
                        <option value="{{ domain.id }}">{{ domain.name }}</option>
                    }
                </select>
            </div>
            <br>
            <div class="form-group">
                <app-typeahead-users-partial [title]="'Eigenaar DMN'" [data]="dmnUsers" (selected)="onUserPicked($event)"></app-typeahead-users-partial>
            </div>
            <br>
            <div class="form-group">
                <label for="formFile" class="form-label">Importeer een DMN diagram</label>
                <input class="form-control" type="file" name="dmnFile" id="formFile" (change)="onFileChange($event)">
            </div>
            <br>
            <div class="btn-group">
                <button (click)="submitForm($event)" class="btn btn-primary mb-2">Indienen</button>
                <button [routerLink]="['/dmns']"class="btn btn-primary mb-2">Terug</button>
            </div>
        </form>
    </div>
</div>
