<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row gx-0 gy-0">
                <div class="col col-12">
                    <h3>Nieuwe DMN Versie aanmaken</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="reuseDmn" class="form-label">Wilt u de huidige versie van de DMN hergebruiken?</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="reuseDmn" name="reuseDmn" required>
                <option value=1>Ja</option>
                <option value=2>Nee, nieuwe DMN</option>
                <option value=3>Nee, importeer een DMN</option>
            </select>
            @if(reuseDmn == 3) {
                <div class="mb-3">
                    <label for="formFile" class="form-label">Importeer DMN bestand</label>
                    <input class="form-control" type="file" id="formFile" (change)="onFileChange($event)" required>
                </div>
            }
            <button (click)="createNewVersion()" class="btn btn-primary">Aanmaken</button>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>
