<div class="container">
    <div class="row">
        <div class="col">
            <app-breadcrumbs-partial [breadcrumbs]="breadcrumb"></app-breadcrumbs-partial>
        </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-11 mb-1">
                <h3>Unittest {{ dmnData.name }}</h3>
                <div class="alert alert-info" role="alert">
                    <span class="fw-bold">Hit policy:</span>
                    <span> {{ hitPolicyMetadata(dmnData.hitPolicy).label || "Onbekend" }} </span><br>
                    <span> {{ hitPolicyMetadata(dmnData.hitPolicy).nl_description }}</span>
                </div>
            </div>
            <div class="col-1 text-end align-self-center">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Uitvoeren</button>
                </div>
            </div>
        </div>
        @if (hasResult) {
            <div class="alert alert-{{ resultStatus ? 'success' : 'warning' }}" role="alert">
                <div class="row">
                    <div class="col-12">
                        <h5>Test rapport</h5>
                        <span>Test is {{ resultStatus ? '' : 'niet'}} succesvol afgerond.</span>
                    </div>
                    <div class="card border-0 col-6 p-0 rounded-0">
                        <div class="card-header bg-light text-dark fw-semibold text-center">Verwachtte uitkomst</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                @for (expected of expectedResult; track $index) {
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="fw-bold">{{ expected[0].key }}</span>:
                                        <span class="text-muted">{{ expected[0].value }}</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="card border-0 col-6 p-0 rounded-0">
                        <div class="card-header bg-light text-dark fw-semibold text-center">Daadwerkelijke uitkomst</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                @for (actual of actualResult; track $index) {
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="fw-bold">{{ actual[0].key }}</span>:
                                        <span class="text-muted">{{ actual[0].value }}</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="mb-3">
            <label for="testTitle" class="form-label">Titel</label>
            <input formControlName="title" type="text" class="form-control" id="testTitle">
        </div>
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
                <button ngbNavLink>Invoer</button>
                <ng-template ngbNavContent>
                    <app-key-pair-form
                        [title]="'Te gebruiken invoer'"
                        [hitPolicy]="dmnData.hitPolicy"
                        [variables]="dmnData.incoming"
                        [formArray]="inputPairs"
                        [maxRows]="dmnData.incoming.length"
                        [isInput]="true">
                    </app-key-pair-form>
                </ng-template>
            </li>
            <li ngbNavItem>
                <button ngbNavLink>Uitkomst</button>
                <ng-template ngbNavContent>
                    <app-key-pair-form
                        [title]="'Verwachte uitkomst'"
                        [hitPolicy]="dmnData.hitPolicy"
                        [variables]="dmnData.outgoing"
                        [formArray]="outputPairs"
                        [maxRows]="dmnData.outgoing.length"
                        [isInput]="false">
                    </app-key-pair-form>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </form>
</div>
