<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row gx-0 gy-0">
                <div class="col col-12">
                    <h3>DMN indienen voor review</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form [formGroup]="myForm">
                <span>Weet u zeker dat u deze diagram wilt indienen? <br> <b>LET OP:</b> Dan kan deze hierna niet meer aangepast worden!</span>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="inputDescription">Beschrijving van de wijzigingen</label>
                            <textarea formControlName="description" class="form-control" id="inputDescription" placeholder="Beschrijf wijzigingen" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="form_new_dmn_owner">Controleur DMN</label>
                            <select class="form-control" id="form_new_dmn_owner" formControlName="reviewer" required>
                                <option value="" disabled selected>Kies een controleur</option>
                                @for(review of possibleReviewers; track review.id) {
                                    <option value="{{ review.username }}">{{ review.firstName + " " + review.lastName }}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button (click)="handInChanges()" class="btn btn-primary">Indienen</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
