<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row gx-0 gy-0">
                <div class="col col-xxl-12">
                    <h3>Nieuwe DMN Versie aanmaken</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <span>Weet u zeker dat u deze diagram wilt indienen? <br> <b>LET OP:</b> Dan kan deze hierna niet meer aangepast worden!</span>
        <div class="col-3">
            <div class="input-group mt-2">
                <button (click)="handInChanges()" class="btn btn-primary">Ik weet het zeker, indienen.</button>
            </div>
        </div>
    </div>
</div>
